<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  
  <!--Loop over the payload variable, which is the list of articles-->
  <table style="width:100%">
    <tr>
      <th>Book ID/Book name</th>
      <th>Actions</th>
    </tr>
  {{range .data }}
    <!--Create the link for the article based on its ID-->
    
      
      <tr>
        <td>
        <a href="/books/{{.ID}}">
          <!--Display the title of the article -->
          <h3>[{{.ID}}]{{.Title}}</h3></a>
          <p>{{.Author}}</p>
        
      </td>
      <td>
        <a href="/books/edit/{{.ID}}" type="button" class="btn btn-primary">Edit</a>
        <button onclick="DeleteConfirm({{.ID}})" class="btn btn-danger">Delete</button>
      </td>
      </tr>
    
  {{end}}
</table>
<!--Embed the footer.html template at this location-->

<script>
  function DeleteConfirm(id) {
    var yes = confirm('你確定嗎？');
  
      if (yes) {
        location.href=`/books/delete/${id}`;
      } 
  }
</script>
{{ template "footer.html" .}}